@charset "ISO-8859-1";
body {
    background-color: #ffffff;
  }
  
h1{
	font-weight: bold;
	 text-align: center;
	 font-family: monospace;
	 text-decoration: underline;
}  
h2{
	font-weight: bold;
	 text-align: center;
	 font-family: monospace;
}
li{
	font-family: monospace;
	font-size: 18px;
	
}

p{
	
	font-size: 18px;
	 font-family: monospace;
}
.sr-only{
	font-size: 18px;
	 font-family: monospace;
}

.btn-primary {
	background-color: #04204e !important;
	padding: 10px 120px;
	margin-top: 10px;
    
    
}
a,
a:focus,
a:hover {
  color: #ffffff;
}
.form-register{
  width: 100%;
  max-width: 330px;
  padding: 15px;
  margin: 0 auto;
}

.form-register .form-control {
  position: relative;
  box-sizing: border-box;
  height: auto;
  padding: 10px;
  font-size: 16px;
}

.form-register input[type="text"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
.form-register input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.form-signin {
  width: 100%;
  max-width: 330px;
  padding: 15px;
  margin: 0 auto;
}
.form-signin .checkbox {
  font-weight: 400;
}
.form-signin .form-control {
  position: relative;
  box-sizing: border-box;
  height: auto;
  padding: 10px;
  font-size: 16px;
}
.form-signin .form-control:focus {
  z-index: 2;
}
.form-signin input[type="login"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}


.btn-secondary,
.btn-secondary:hover,
.btn-secondary:focus {
  padding-left: 20px;
  color: #333;
  text-shadow: none; /* Prevent inheritance from `body` */
  background-color: #fff;
  border: .05rem solid #fff;
}

.bg-dark{
	background-color: #04204e !important;
}
.navbar-brand{
	font-weight: bold;
	font-family: monospace;
	font-size: 28px;
	
}

.navbar-dark .navbar-nav .nav-link{
	font-weight: 700;
	font-size: 14px;
	text-transform: uppercase;	
}

.navbar-dark .navbar-nav .nav-item{
	margin: 0 15px;
}